 .redes-sociales{
    position: fixed;
    z-index: 9999;
    top: 30%;
    left: 0px;
    border-radius: 0px 10px 10px 0px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.redes-sociales img{
    width: 65px;
    padding-left: 10px;
}

.divRegistrarTienda{
    position: fixed;
    bottom: 30px;
    left: 30px;
    border:2px solid white;
    background-color: #0a083a;
    color: white;
    padding: 10px 30px 10px 30px;
    z-index: 999999;
    border-radius: 20px;

    -webkit-box-shadow: 0px 2px 25px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 25px 7px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 25px 7px rgba(0,0,0,0.3);
}

.divRegistrarTienda p{
    color: white !important;
}

.subtitulo{
	color: white;
}

.form-group{
	padding: 0px 0px 2px 3px !important; 
}

div.form-group label{
    font-weight: bold;
    color: black !important; 
}

.rowTituloBusqueda{
	padding-top: 25%;
}

.rowFormularioBusqueda{
	padding-top: 5%;
	padding-bottom: 5%;
}

div.form-group label{
	color: white;
}


.rowDivProductos{
	text-align: center;
	align-items: center;
	align-content: center;
}

section#plans.plans-sec.py-5{
	padding-top: 0px !important;
}

.col-form-label{
    color: black !important;
}

#infoLogin{
    display: none;
}

.msgLogin{
    position: fixed !important; top:110px; right:50px; z-index:999999; display: none;
}

#demo{
    top:-22px;
}

.productos{
    text-align: center;
    align-content: center;
}

.productos img{
    width: 200px;
    border-radius: 50%;
}

/*SECCION REGISTRO DE TIENDA SIN LOGIN*/
.formularioRegistroTienda > .form-group label{
    color: black;
}

code{
    display: none;
}

/* SECCION DE PAGINA PRODUCTOS // */

.encabezadoProductos{
    margin-top: -22px;
    height: 250px;
    background-color: #1f1f1f;
    position: relative;
}

.encabezadoProductos h1{
    position: absolute;
    bottom: 50px;
    color:white;
    left: 50px;
}

.formularioBusqueda{
    margin-top: 20px;
}
.formularioBusqueda .form-group label{
    color:black;
}

/*SECCION PRINCIPAL SIN LOGIN, VISTA AL PÙBLICO*/
.tituloBuscador{
    text-align: center;
    border-bottom:1px solid white;
    margin-bottom: 10px;
}
.tituloBuscador p{
    padding-top: 30px !important;;
    color: white !important;
    font-size: 30px !important;
    padding-bottom: 10px !important;
}

.rowFormularioBusqueda{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.buscarRestaurante{
    margin-top: 30px;
}

.btn-whatsapp{
    border-radius: 5px;
    padding: 10px 15px 10px 15px;   
    background-color: #25D366;
    border:1px solid white;
    color: white;
}


.btn-facebook{
    border-radius: 5px;
    padding: 10px 15px 10px 15px;   
    background-color: #3b5998;
    border:1px solid white;
    color: white;
    margin-left:10px;
    margin-right:5px; 

}

.btn-instagram{
    border-radius: 5px;
    padding: 10px 15px 10px 15px;   
    background-color: #833AB4;
    border:1px solid white;
    color: white;
    margin-left:5px;
    margin-right:5px; 

}

.nuestrasRedesBanner{
    text-align: center;
    align-items: center;
}

.nuestrasRedesBanner p{
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.card-custom {
  overflow: hidden;
  min-height: 450px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: absolute;
  content: '';
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
}
