
/* ================== ESTILOS EN GENERAL ======================= */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap');

@font-face {
    font-family: 'Bebas_neue_regular';
    src: url('../bebas_neue/BebasNeue-Regular.otf');
}

@font-face {
    font-family: 'Bebas_neue_regular';
    src: url('../bebas_neue/BebasNeue-Regular.otf');
}

body{
    font-family: 'Bebas_neue_regular';
    background-color: #fafaf8;
}
::-webkit-scrollbar {
    background-color: rgba(0,0,0,0.1);
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #040464;
}

::-webkit-scrollbar-button {
    background-color: transparent !important;
}

::-webkit-scrollbar-corner {
    background-color: rgba(0,0,0,0.1);
}


input[type="radio"] {
  display: none;
}

label {
  color: #1B1B1E;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: #FCA311;
}

input[type="radio"]:checked ~ label {
  color: orange;
}


.estrellas_label{
    font-size: 50px !important;
}


.alerta-cerrada{
    position: fixed;
    z-index: 9999999;
    bottom: -10px;
    width: 40%;
    margin-left: -15px;
}
#botonTienda{
    display: none !important;
}



.encabezadoTiendas{
    height: 350px;
    background-size: cover;
    background-position-y: 80%;
    padding-top: 5vh;
}

.tituloTienda, .informacionGeneral{
    text-align: center;
    align-content: center;
}

.tituloTienda p{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 25px;
}

.tituloTienda dir{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
    filter:none;
    font-size: 15px;
    padding: 0;
}

.informacionGeneral p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
    filter:none;
    font-size: 16px;
    padding: 0px;
}


.titleCategoria p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}


.table{
    margin-bottom: 0px;
}


#codeNombre, #codeDomicilio, #codeCalle, #codeBarrio, #codeCalles{
    display: none;
}

.actionsAddDel{
    padding-top: 30px;
    text-align: center;
}

.iconDelPro:hover, .iconAddPro:hover{
    cursor: pointer;
}


/* ================== FIN ESTILOS EN GENERAL ======================= */



/* ================== LISTADO DE LAS CATEGORIAS ======================= */


.listadoCategoria{
    padding-top: 30px;    
    background-color: white;
}



.div_categoria{
    font-family: 'Bebas_neue_regular';
    transition: 0.5s;
    background-image: linear-gradient(#010121, #010121);
    background-repeat: no-repeat;

    background-size: 2px 0%, calc(100% - 4px) 100%;

    /* Similar to size, first pair will define the position of the border
       and 2nd one for the container background */
    background-position: left bottom, 4px 0;
    padding-left: 20px;
    padding-top: 2px !important;
    margin-bottom: -10px;
}

.div_categoria:hover{
    cursor: pointer;
    transition: 0.5s;
    background-size: 2px 100%, calc(100% - 4px) 100%;
}


.identificador_categoria{
    padding: 0px !important;
}

/* ================== FIN LISTADO DE LAS CATEGORIAS ======================= */



/* ================== SECCION PRECIOS Y MENÙ ======================= */


.titlePrecios{
    font-family: 'Bebas_neue_regular';
    font-size: 50px;
}


.productoUnico, .productoUnicoCerrado{
    border: 5px solid #fafaf8;
    border-radius: 10px;
    background-color: whitesmoke !important;
    margin-bottom: 10px;
}


.imgProductoUnico img{
    padding-top: 15px;
}


.descripcionProductoUnico{
    padding-top: 8px;
}
.descripcionProductoUnico a{
    font-family: 'Bebas_neue_regular';
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 0px !important;
}

.descripcionProductoUnico l{
    font-family: 'Poppins';
    font-size: 12px;
    padding-top: 0px;
    padding-bottom: 0px !important;
}


.precioProductoUnico{
    padding-top: 15px;
    padding-bottom: 15px;

}

.btn-domicilio{
    color: #fff !important;
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

.btn-compra, .btn-domi, .btn-local{
    background-color: #1B1B1E !important;
}

/* ================== FIN SECCION PRECIOS Y MENÙ ======================= */






/* ================== SECCION RESUMEN DE TU PEDIDO ======================= */


.carroCompraWhat{
    display: none;
}

.resumenPedidoWhat{
    background-color: whitesmoke !important
}


/* ================== FIN SECCION RESUMEN DE TU PEDIDO ======================= */




/* ================== SECCION VALOR DEL PEDIDO BARRA AZUL ======================= */


.valorPedido{
    text-align: right;
    position: fixed;
    bottom: 50px;
    background-color: #1B1B1E !important;
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 20px 20px 0px 0px;
    font-size: 20px;
    margin-left: 50px;
}

.valorPedidoWhat{
    text-align: right;
    position: fixed;
    bottom: 50px;
    background-color: #1B1B1E;
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 20px 20px 0px 0px;
    font-size: 20px;
    margin-left: -15px;
}

/* ================== FIN SECCION VALOR DEL PEDIDO BARRA AZUL ======================= */




/* ================== SECCION BARRA LATERAL ======================= */


.carroCompra{
    background-color: #f5f5f5;
    position: fixed;
    width: 290px !important;
    height: 100% !important;
    transform: translateY(150%);
    left: 0px;
    top: 0px;
}

.resumenPedido{
    line-height: 16px;
    height: 600px !important;
    overflow:scroll;
    overflow-x:hidden;
    background-color: whitesmoke !important
}

#resumenPedido{
    overflow: scroll !important;
    height: 350px;
    margin-top: -20px;
}

.productoComprado{
    height: 80px;
    padding-top: 15px;
    border-bottom: 1px solid black;
}

.tituloProducto p{ 
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.valorProducto p{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 12px;
    padding-bottom: 20px;   
}

/* ================== FIN SECCION BARRA LATERAL ======================= */







/* ================== SECCION BARRA INFERIOR DE LOS ICONOS ======================= */

.barraOpcion{
    background-color: #1B1B1E;
    height: 60px;
    position: fixed;
    bottom: 0px;
    z-index: 99999;
}

.carritoOpcion, .cancelarPedido, .verPedido, .listadoPedido, .cerrarDivCompra{
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.listadoPedido:hover, .carritoOpcion:hover{
    cursor: pointer;
}


.cantidadCarrito{
    position: absolute;
    background-color: red;
    border-radius: 50%;
    width: 20px;
    left: 105px;
    text-align: center;
    color: white;
    margin-top: -5px;
}

/* ================== FIN SECCION BARRA INFERIOR DE LOS ICONOS ======================= */

/* ======== ESTILOS BOTON WOMPI */

.btn-pago-wompi{
margin-top: 15px;
    margin-bottom: 5px;
    margin-right: 15px;
    width: 330px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #FBFFFE;
    background-color: #1a4594 !important;
}