/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9/09/2020, 03:19:36 PM
    Author     : Diego Velez
*/

/*
.productoUnico:hover{
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 1px 2px 20px 1px rgba(0,0,0,0.2);
}-->*/


/* RESPONSIVE */

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/08/2020, 09:44:44 AM
    Author     : Diego Velez

*/



@media screen and (min-width:240px) and (max-width: 321px) {
    .grecaptcha-logo{
        position: fixed;
        bottom: 110px !important;
    }

    .grecaptcha-badge{
        position: fixed;
        bottom: 120px !important;
    }

    #tienda-cerrada{
        position: fixed; bottom: -10px; z-index: 99999; width: 100%;
    }

    ::-webkit-scrollbar {
        background-color: rgba(0,0,0,0.1);
        width: 1px;
    }

    ::-webkit-scrollbar-track {
        background-color: white !important;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: white;
    }

    ::-webkit-scrollbar-button {
        background-color: white !important;
    }

    ::-webkit-scrollbar-corner {
        background-color: white;;
    }



    #enviarFormWhatsapp{
        margin-bottom:30px;
    }

    .btn-compra{
        margin-left: -50px;
        bottom: 1px;
        position: absolute !important;
    }

    .precioProductoUnico{
        position: absolute;
        bottom: 22px;
        width: 320px;
    }
    .regresarPedidoWeb{
        width: 40%;
        margin-top: -35px !important;
        margin-left: 100px !important;
        font-size: 15px;
    }

    .copyright{
        padding-bottom: 50px;
        width: 100%;
        margin-top: 80px;
    }


    .productoUnico, .productoUnicoCerrado{
        background-color: white !important;
        border-radius: 0px;
        float: left;
        margin: 6px;
        width: 144px;
        height: 230px !important;

        padding: 0px;
        border: 1px solid #dcdcdc;
    }

    .imgProductoUnico{
        margin-left: 15px;
        width: 143px;
        height: 143px;
    }

    .imgProductoUnico img{
        width: 143px;
        height: 143px;
        padding: 0px;
    }

    .descripcionProductoUnico{
        width: 143px !important;
        height: 50px;
        overflow: scroll;
        margin-left: 15px;
        padding-left: 10px;
        line-height: 12px !important;

    }

    .descripcionProductoUnico a{
        font-size: 16px;
        line-height: 14px;
        padding-right: 10px;
        padding-bottom: 0px;
    }

    .valorProductoUnico{
        margin-left: 20px;
        margin-right: 20px;
        width: 140px;
    }

    .valorProductoUnico strong{
        color: #FCA311;
        font-size: 16px;
        line-height: 14px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #valueModal{
        font-size: 18px;
        color: #FCA311;
    }

    .valorPedidoDiv{
        margin-top: 30%; 
    }

    .cantidadCarrito{
        position: absolute;
        background-color: red;
        border-radius: 50%;
        width: 20px;
        left: 25px;
        text-align: center;
        color: white;
        margin-top: -5px;
    }

    .carroCompra{
        background-color: #f5f5f5;
        position: fixed;
        width: 220px !important;
        height: 100% !important;
        transform: translateY(150%);
        left: 0px;
        top: 0px;
    }

    .carroCompraWhat{
        background-color: #f5f5f5;
        width: 420px !important;
        height: 100% !important;
        left: 0px;
        top: 0px;
    }

    #resumenPedido{
        overflow: scroll !important;
        height: 350px;
        margin-top: -20px;
    }

    .tituloTuPedido{
        display: none;
    }


    .form-control{
        margin-top: 5px;
    }

    .valorPedido{
        text-align: center;
        position: fixed;
        bottom: 50px;
        background-color: #1B1B1E !important;
        color: white;
        padding-top: 10px;
        padding-bottom: 20px;
        border-radius: 0px;
        font-size: 20px;
        margin-left: 0px;
        width: 350px;
    }
    .encabezadoTiendas{
        height: 400px;
    }

    .imagenProductoWeb{
        display:none;
    }

    .pedidosWeb{
        background-color: #f5f5f5;
        margin-left: -35px !important;
    }

    .regresarPedidoWeb{
        margin-top: 10px;
    }


    .indexCancelarPedido{
        position: fixed;
        bottom: 10px;
        z-index: 9999;
        left: 2px;
        font-size: 15px;
    }

    .indexVerPedido{
        position: fixed;
        bottom: 10px;
        z-index: 9999;
        right: 5px;
        font-size: 15px;
    }

    .precioProductoUnico{
        line-height: 1px;
    }



    .botonProductosCarrito{
        width: 290px;
        color:white;
        background-color: #17a2b8;
        position: fixed;
        bottom: 50px;
        padding-top:10px;
        padding-bottom:10px;
        z-index: 99999;

    }

    .titlePrecios{
        font-size: 50px;

    }

    .listadoCategoria{
        color: black;
        padding-top: 0px;
        margin-top: -10px;
    }





    /* modal informacion productos */

    #imagenModal{
        padding-left: 2px;
        align-content: center;
        text-align: center;
    }
    #imagenModal img{
        width: 270px;
        height: 270px;
    }

    .actionsAddDel > .iconAddPro{
        padding-top: 3px;
        padding-bottom: 3px;
        background-color: #1B1B1E !important; 
        color: white !important; 
        width: 280px;
        margin-left: -19px;
        margin-bottom: 5px;
    }

    .actionsAddDel > .btn-cerrar-modal{
        padding-top: 3px;
        padding-bottom: 3px;
        background-color:#96031A !important;
        color: white !important; 
        width: 280px;
        margin-left: -19px;
        margin-bottom: 5px;
    }

    .btn-cerrar-modal-carrito, .btn-vovler-carrito{
        padding-top: 3px;
        padding-bottom: 3px;
        background-color:#96031A !important;
        color: white !important; 
        width: 280px;
        margin-left: -5px;
        margin-bottom: 5px;   
    }

    #adicionalesProductos{
        height: 150px;
        overflow: scroll;
    }

    .barraOpcion{
        position: fixed;
        width: 320px;
        bottom: 0px;
        z-index: 1 !important;
    }

    div#modalProductos.modal.fade.show{
        z-index: 9999999999999 !important;
    }

    .imgProductoCompra img{
        width: 270px;
    }

    .nameProductoCompra p{
        margin-top: 8px;
        font-size: 25px;
        line-height: 20px;
    }

    .descriptionProductoCompra p{
        margin-top: -8px;
        font-size: 15px;
        line-height: 15px;
        color: grey;
    }

    .valorProductoCompra{
        font-size: 18px;
        top: 20px;
        left: 20px;
        background-color: #FCA311;
        color: black;
        border-radius: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 30px;
        padding-right: 30px;
        position: absolute;
        box-shadow: 2px 5px 5px 2px rgba(0,0,0,0.5);
    }

    .adicional_unico{
        font-size: 15px;
        width: 120px;
        float: left;
    }

    .contenedor_adicionales{
        height: 100px;
        overflow: scroll;
    }

    #alerta-exito{
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 999999999 !important;
        transform: translateY(-300%);
    }

    /* MODAL RESUMEN DE LA COMPRA */

    .contenidoCarrito{
        width: 310px;
    }

    .contenidoCarrito table{
        width: 280px;
    }

    .contenidoCarrito table tr td p{
        font-size: 12px;
        line-height: 12px;
        padding-left: 10px;
    }

    .contenidoCarrito table tr img{
        width: 50px;
    }

    .valores_precios{
        width: 280px;
    }

    .descripcion_precio, .valor_precio{
        width: 140px;
        float: left;
        font-size: 20px;
    }

    .valor_precio{
        text-align: right;
    }

    .opciones_domicilio{
        padding-left: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .opciones_domicilio button{
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .btn-domicilio{
        color: #FBFFFE !important;
        background-color: #FCA311 !important;
    }

    .btn-local{
        color: #FBFFFE;
        background-color: #96031A !important;
    }

    .btn-envio-pedido, .btn-envio-pedido-form, .envio-wompi{
        margin-top: 15px;
        margin-bottom: 5px;
        margin-left: -5px;
        width: 280px;
        padding-top: 2px;
        padding-bottom: 2px;
        color: #FBFFFE;
        background-color: #075e54 !important;
    }

    #formularioWhatsapp{
        height: 550px;
        overflow-x: scroll;
        overflow-y: scroll;

    }

    /* FORMULARIO WOMPI */
    .contenedor-tarjetas{
        width: 300px;
        display: flex;
        align-items: flex-end;
        padding-right: 10px;
        padding-left: 10px;
    }



    .BANCOLOMBIA_TRANSFER{
        margin-top: 10px;
         width: 135px;
        margin-left: 10px;
        height: 110px;
        border-radius: 10px;
        border: 1px solid #dcdcdc;
        padding-top: 5px;
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 5px;
      
        text-align: center;
    }

    .select_transferencia{
        display:none;
        padding-top: 28px;
        position: absolute;
        z-index: 8;
        width: 130px;
        height: 110px;
        background: rgb(0,0,0,0.5);
        border-radius: 10px;
        margin-left: -7px;
        margin-top: -7px;
    }

    .select_transferencia img{
        width: 50px;
    }




    .NEQUI{
        width: 135px;
        margin-left: 10px;
        height: 110px;
        border-radius: 10px;
        border: 1px solid #dcdcdc;
        padding-top: 5px;
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 5px;
        text-align: center;
    }

    .select_nequi{
        display:none;
        padding-top: 28px;
        position: absolute;
        z-index: 8;
        width: 130px;
        height: 110px;
        background: rgb(0,0,0,0.5);
        border-radius: 10px;
        margin-left: -7px;
        margin-top: -7px;
    }

    .select_nequi img{
        width: 50px;
    }



    .PSE{
        margin-top: 10px;
        width: 135px;
        margin-left: 10px;
        height: 110px;
        border-radius: 10px;
        border: 1px solid #dcdcdc;
        padding-top: 5px;
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 5px;
      
        text-align: center;
    }

    .select_pse{
        display:none;
        padding-top: 28px;
        position: absolute;
        z-index: 8;
        width: 130px;
        height: 110px;
        background: rgb(0,0,0,0.5);
        border-radius: 10px;
        margin-left: -7px;
        margin-top: -7px;
    }

    .select_pse img{
        width: 50px;
    }



    .CARD{
         width: 135px;
        margin-left: 10px;
        height: 110px;
        border-radius: 10px;
        border: 1px solid #dcdcdc;
        padding-top: 5px;
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 5px;
      
        text-align: center;
    }

    .select_card{
        display:none;
        padding-top: 28px;
        position: absolute;
        z-index: 8;
        width: 130px;
        height: 110px;
        background: rgb(0,0,0,0.5);
        border-radius: 10px;
        margin-left: -7px;
        margin-top: -7px;
    }

    .select_card img{
        width: 50px;
    }



    .img_nequi{
        padding: 0px;
    }

    .img_nequi img{
        width: 100%;
    }

    .cerrarModalCarrito{
        position: absolute;
        top: -20px;
        right: -8px;
        box-shadow: 2px 5px 5px 2px rgb(0 0 0 / 50%);
        border-radius: 50%;
        z-index: 9999999999 !important; 
    }

    .cerrarModalCarrito img{
        width: 40px;
    }
}





/* ============================================================================================================== */




@media screen and (min-width:324px) and (max-width: 376px) {

    #tienda-cerrada{
        position: fixed; bottom: -10px; z-index: 99999; width: 100%;
    }

    ::-webkit-scrollbar {
        background-color: rgba(0,0,0,0.1);
        width: 1px;
    }

    ::-webkit-scrollbar-track {
        background-color: white !important;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: white;
    }

    ::-webkit-scrollbar-button {
        background-color: white !important;
    }

    ::-webkit-scrollbar-corner {
        background-color: white;;
    }

    #resultadoSQLProducto  > .row{
        margin-left:15px;
    }

    #enviarFormWhatsapp{
        margin-bottom:30px;
    }

    .btn-compra{
        margin-left: -50px;
        bottom: 1px;
        position: absolute !important;
    }

    .precioProductoUnico{
        position: absolute;
        bottom: 22px;
        width: 320px;
    }
    .regresarPedidoWeb{
        width: 40%;
        margin-top: -35px !important;
        margin-left: 100px !important;
        font-size: 15px;
    }

    .copyright{
        padding-bottom: 50px;
        width: 100%;
        margin-top: 80px;
    }


    .productoUnico, .productoUnicoCerrado{
        background-color: white !important;
        border-radius: 0px;
        float: left;
        margin: 6px;
        width: 144px;
        height: 230px !important;

        padding: 0px;
        border: 1px solid #dcdcdc;
    }

    .imgProductoUnico{
        margin-left: 15px;
        width: 143px;
        height: 143px;
    }

    .imgProductoUnico img{
        width: 143px;
        height: 143px;
        padding: 0px;
    }

    .descripcionProductoUnico{
        width: 143px !important;
        height: 50px;
        overflow: scroll;
        margin-left: 15px;
        padding-left: 10px;
        line-height: 12px !important;

    }

    .descripcionProductoUnico a{
        font-size: 16px;
        line-height: 14px;
        padding-right: 10px;
        padding-bottom: 0px;
    }

    .valorProductoUnico{
        margin-left: 20px;
        margin-right: 20px;
        width: 140px;
    }

    .valorProductoUnico strong{
        color: #FCA311;
        font-size: 16px;
        line-height: 14px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #valueModal{
        font-size: 18px;
        color: #FCA311;
    }

    .valorPedidoDiv{
        margin-top: 30%; 
    }

    .cantidadCarrito{
        position: absolute;
        background-color: red;
        border-radius: 50%;
        width: 20px;
        left: 25px;
        text-align: center;
        color: white;
        margin-top: -5px;
    }

    .carroCompra{
        background-color: #f5f5f5;
        position: fixed;
        width: 220px !important;
        height: 100% !important;
        transform: translateY(150%);
        left: 0px;
        top: 0px;
    }

    .carroCompraWhat{
        background-color: #f5f5f5;
        width: 420px !important;
        height: 100% !important;
        left: 0px;
        top: 0px;
    }

    #resumenPedido{
        overflow: scroll !important;
        height: 350px;
        margin-top: -20px;
    }

    .tituloTuPedido{
        display: none;
    }


    .form-control{
        margin-top: 5px;
    }

    .valorPedido{
        text-align: center;
        position: fixed;
        bottom: 50px;
        background-color: #1B1B1E !important;
        color: white;
        padding-top: 10px;
        padding-bottom: 20px;
        border-radius: 0px;
        font-size: 20px;
        margin-left: 0px;
        width: 370px;
    }
    .encabezadoTiendas{
        height: 450px;
    }

    .imagenProductoWeb{
        display:none;
    }

    .pedidosWeb{
        background-color: #f5f5f5;
        margin-left: -35px !important;
    }

    .regresarPedidoWeb{
        margin-top: 10px;
    }


    .indexCancelarPedido{
        position: fixed;
        bottom: 10px;
        z-index: 9999;
        left: 2px;
        font-size: 15px;
    }

    .indexVerPedido{
        position: fixed;
        bottom: 10px;
        z-index: 9999;
        right: 5px;
        font-size: 15px;
    }

    .precioProductoUnico{
        line-height: 1px;
    }



    .botonProductosCarrito{
        width: 290px;
        color:white;
        background-color: #17a2b8;
        position: fixed;
        bottom: 50px;
        padding-top:10px;
        padding-bottom:10px;
        z-index: 99999;

    }

    .titlePrecios{
        font-size: 50px;

    }

    .listadoCategoria{
        color: black;
        padding-top: 0px;
        margin-top: -10px;
    }





    /* modal informacion productos */

    #imagenModal{
        padding-left: 2px;
        align-content: center;
        text-align: center;
    }
    #imagenModal img{
        width: 270px;
        height: 270px;
    }

    .actionsAddDel > .iconAddPro{
        padding-top: 3px;
        padding-bottom: 3px;
        background-color: #1B1B1E !important; 
        color: white !important; 
        width: 280px;
        margin-left: -19px;
        margin-bottom: 5px;
    }

    .actionsAddDel > .btn-cerrar-modal{
        padding-top: 3px;
        padding-bottom: 3px;
        background-color:#96031A !important;
        color: white !important; 
        width: 280px;
        margin-left: -19px;
        margin-bottom: 5px;
    }

    .btn-cerrar-modal-carrito, .btn-vovler-carrito{
        padding-top: 3px;
        padding-bottom: 3px;
        background-color:#96031A !important;
        color: white !important; 
        width: 330px;
        margin-left: -5px;
        margin-bottom: 5px;   
    }

    #adicionalesProductos{
        height: 150px;
        overflow: scroll;
    }

    .barraOpcion{
        position: fixed;
        width: 370px;
        bottom: 0px;
        z-index: 1 !important;
    }

    div#modalProductos.modal.fade.show{
        z-index: 9999999999999 !important;
    }

    .imgProductoCompra img{
        width: 325px;
    }

    .nameProductoCompra p{
        margin-top: 8px;
        font-size: 25px;
        line-height: 20px;
    }

    .descriptionProductoCompra p{
        margin-top: -8px;
        font-size: 15px;
        line-height: 15px;
        color: grey;
    }

    .valorProductoCompra{
        font-size: 18px;
        top: 20px;
        left: 20px;
        background-color: #FCA311;
        color: black;
        border-radius: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 30px;
        padding-right: 30px;
        position: absolute;
        box-shadow: 2px 5px 5px 2px rgba(0,0,0,0.5);
    }

    .adicional_unico{
        font-size: 15px;
        width: 120px;
        float: left;
    }

    .contenedor_adicionales{
        height: 100px;
        overflow: scroll;
    }

    #alerta-exito{
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 999999999 !important;
        transform: translateY(-300%);
    }

    /* MODAL RESUMEN DE LA COMPRA */

    .contenidoCarrito{
        width: 310px;
    }

    .contenidoCarrito table{
        width: 340px;
    }

    .contenidoCarrito table tr td p{
        font-size: 12px;
        line-height: 12px;
        padding-left: 10px;
    }

    .contenidoCarrito table tr img{
        width: 50px;
    }

    .valores_precios{
        width: 390px;
    }

    .descripcion_precio, .valor_precio{
        width: 160px;
        float: left;
        font-size: 20px;
    }

    .valor_precio{
        text-align: right;
    }

    .opciones_domicilio{
        padding-left: 35px;
        margin-top: 35px;
        margin-bottom: 15px;
    }

    .opciones_domicilio button{
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .btn-domicilio{
        color: #FBFFFE !important;
        background-color: #FCA311 !important;
    }

    .btn-local{
        color: #FBFFFE;
        background-color: #96031A !important;
    }
    
    .btn-envio-pedido, .btn-envio-pedido-form, .envio-wompi {
        margin-top: 15px;
        margin-bottom: 5px;
        margin-left: -5px;
        width: 330px;
        padding-top: 2px;
        padding-bottom: 2px;
        color: #FBFFFE;
        background-color: #075e54 !important;
    }

        #formularioWhatsapp{
        height: 550px;
        overflow-x: scroll;
        overflow-y: scroll;

    }

    /* FORMULARIO WOMPI */
        .contenedor-tarjetas{
            width: 300px;
            display: flex;
            align-items: flex-end;
            padding-right: 10px;
            padding-left: 10px;
        }



        .BANCOLOMBIA_TRANSFER{
            margin-top: 10px;
             width: 135px;
            margin-left: 10px;
            height: 110px;
            border-radius: 10px;
            border: 1px solid #dcdcdc;
            padding-top: 5px;
            padding-right: 5px;
            padding-left: 5px;
            padding-bottom: 5px;
          
            text-align: center;
        }

        .select_transferencia{
            display:none;
            padding-top: 28px;
            position: absolute;
            z-index: 8;
            width: 130px;
            height: 110px;
            background: rgb(0,0,0,0.5);
            border-radius: 10px;
            margin-left: -7px;
            margin-top: -7px;
        }

        .select_transferencia img{
            width: 50px;
        }




        .NEQUI{
            width: 135px;
            margin-left: 10px;
            height: 110px;
            border-radius: 10px;
            border: 1px solid #dcdcdc;
            padding-top: 5px;
            padding-right: 5px;
            padding-left: 5px;
            padding-bottom: 5px;
            text-align: center;
        }

        .select_nequi{
            display:none;
            padding-top: 28px;
            position: absolute;
            z-index: 8;
            width: 130px;
            height: 110px;
            background: rgb(0,0,0,0.5);
            border-radius: 10px;
            margin-left: -7px;
            margin-top: -7px;
        }

        .select_nequi img{
            width: 50px;
        }



        .PSE{
            margin-top: 10px;
            width: 135px;
            margin-left: 10px;
            height: 110px;
            border-radius: 10px;
            border: 1px solid #dcdcdc;
            padding-top: 5px;
            padding-right: 5px;
            padding-left: 5px;
            padding-bottom: 5px;
          
            text-align: center;
        }

        .select_pse{
            display:none;
            padding-top: 28px;
            position: absolute;
            z-index: 8;
            width: 130px;
            height: 110px;
            background: rgb(0,0,0,0.5);
            border-radius: 10px;
            margin-left: -7px;
            margin-top: -7px;
        }

        .select_pse img{
            width: 50px;
        }



        .CARD{
             width: 135px;
            margin-left: 10px;
            height: 110px;
            border-radius: 10px;
            border: 1px solid #dcdcdc;
            padding-top: 5px;
            padding-right: 5px;
            padding-left: 5px;
            padding-bottom: 5px;
          
            text-align: center;
        }

        .select_card{
            display:none;
            padding-top: 28px;
            position: absolute;
            z-index: 8;
            width: 130px;
            height: 110px;
            background: rgb(0,0,0,0.5);
            border-radius: 10px;
            margin-left: -7px;
            margin-top: -7px;
        }

        .select_card img{
            width: 50px;
        }



        .img_nequi{
            padding: 0px;
        }

        .img_nequi img{
            width: 100%;
        }
        /* FIN FORMULARIO WOMPI */

    .cerrarModalCarrito{
        position: absolute;
        top: -20px;
        right: -8px;
        box-shadow: 2px 5px 5px 2px rgb(0 0 0 / 50%);
        border-radius: 50%;
        z-index: 9999999999 !important; 
    }

    .cerrarModalCarrito img{
        width: 40px;
    }
}









/* ========================================================================================================*/





@media screen and (min-width:380px) and (max-width: 426px) {

    #tienda-cerrada{
        position: fixed; bottom: -10px; z-index: 99999; width: 100%;
    }

    ::-webkit-scrollbar {
        background-color: rgba(0,0,0,0.1);
        width: 1px;
    }

    ::-webkit-scrollbar-track {
        background-color: white !important;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: white;
    }

    ::-webkit-scrollbar-button {
        background-color: white !important;
    }

    ::-webkit-scrollbar-corner {
        background-color: white;;
    }

    #resultadoSQLProducto  > .row{
        margin-left:0px;
    }

    #enviarFormWhatsapp{
        margin-bottom:30px;
    }

    .btn-compra{
        margin-left: -50px;
        bottom: 1px;
        position: absolute !important;
    }

    .precioProductoUnico{
        position: absolute;
        bottom: 22px;
        width: 320px;
    }
    .regresarPedidoWeb{
        width: 40%;
        margin-top: -35px !important;
        margin-left: 100px !important;
        font-size: 15px;
    }

    .copyright{
        padding-bottom: 50px;
        width: 100%;
        margin-top: 80px;
    }


    .productoUnico, .productoUnicoCerrado{
        background-color: white !important;
        border-radius: 0px;
        float: left;
        margin: 6px;
        width: 120px;
        height: 230px !important;
        padding: 0px;
        border: 1px solid #dcdcdc;
    }

    .imgProductoUnico{
        margin-left: 15px;
        width: 120px;
        height: 120px;
    }

    .imgProductoUnico img{
        width: 120px;
        height: 120px;
        padding: 0px;
    }

    .descripcionProductoUnico{
        width: 143px !important;
        height: 50px;
        overflow: scroll;
        margin-left: 15px;
        padding-left: 10px;
        line-height: 12px !important;

    }

    .descripcionProductoUnico a{
        font-size: 16px;
        line-height: 14px;
        padding-right: 10px;
        padding-bottom: 0px;
    }

    .valorProductoUnico{
        margin-left: 20px;
        margin-right: 20px;
        width: 140px;
    }

    .valorProductoUnico strong{
        color: #FCA311;
        font-size: 16px;
        line-height: 14px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #valueModal{
        font-size: 18px;
        color: #FCA311;
    }

    .valorPedidoDiv{
        margin-top: 30%; 
    }

    .cantidadCarrito{
        position: absolute;
        background-color: red;
        border-radius: 50%;
        width: 20px;
        left: 25px;
        text-align: center;
        color: white;
        margin-top: -5px;
    }

    .carroCompra{
        background-color: #f5f5f5;
        position: fixed;
        width: 220px !important;
        height: 100% !important;
        transform: translateY(150%);
        left: 0px;
        top: 0px;
    }

    .carroCompraWhat{
        background-color: #f5f5f5;
        width: 420px !important;
        height: 100% !important;
        left: 0px;
        top: 0px;
    }

    #resumenPedido{
        overflow: scroll !important;
        height: 350px;
        margin-top: -20px;
    }

    .tituloTuPedido{
        display: none;
    }


    .form-control{
        margin-top: 5px;
    }

    .valorPedido{
        text-align: center;
        position: fixed;
        bottom: 50px;
        background-color: #1B1B1E !important;
        color: white;
        padding-top: 10px;
        padding-bottom: 20px;
        border-radius: 0px;
        font-size: 20px;
        margin-left: 0px;
        width: 426px;
    }
    .encabezadoTiendas{
        height: 480px;
    }

    .imagenProductoWeb{
        display:none;
    }

    .pedidosWeb{
        background-color: #f5f5f5;
        margin-left: -35px !important;
    }

    .regresarPedidoWeb{
        margin-top: 10px;
    }


    .indexCancelarPedido{
        position: fixed;
        bottom: 10px;
        z-index: 9999;
        left: 2px;
        font-size: 15px;
    }

    .indexVerPedido{
        position: fixed;
        bottom: 10px;
        z-index: 9999;
        right: 5px;
        font-size: 15px;
    }

    .precioProductoUnico{
        line-height: 1px;
    }



    .botonProductosCarrito{
        width: 290px;
        color:white;
        background-color: #17a2b8;
        position: fixed;
        bottom: 50px;
        padding-top:10px;
        padding-bottom:10px;
        z-index: 99999;

    }

    .titlePrecios{
        font-size: 50px;

    }

    .listadoCategoria{
        color: black;
        padding-top: 0px;
        margin-top: -10px;
    }





    /* modal informacion productos */

    #imagenModal{
        padding-left: 2px;
        align-content: center;
        text-align: center;
    }
    #imagenModal img{
        width: 270px;
        height: 270px;
    }

    .actionsAddDel > .iconAddPro{
        padding-top: 3px;
        padding-bottom: 3px;
        background-color: #1B1B1E !important; 
        color: white !important; 
        width: 280px;
        margin-left: -19px;
        margin-bottom: 5px;
    }

    .actionsAddDel > .btn-cerrar-modal{
        padding-top: 3px;
        padding-bottom: 3px;
        background-color:#96031A !important;
        color: white !important; 
        width: 280px;
        margin-left: -19px;
        margin-bottom: 5px;
    }

    .btn-cerrar-modal-carrito, .btn-vovler-carrito{
        padding-top: 3px;
        padding-bottom: 3px;
        background-color:#96031A !important;
        color: white !important; 
        width: 330px;
        margin-left: 20px;
        margin-bottom: 5px;   
    }

    #adicionalesProductos{
        height: 150px;
        overflow: scroll;
    }

    .barraOpcion{
        position: fixed;
        width: 426px;
        bottom: 0px;
        z-index: 1 !important;
    }

    div#modalProductos.modal.fade.show{
        z-index: 9999999999999 !important;
    }

    .imgProductoCompra img{
        width: 375px;
    }

    .nameProductoCompra p{
        margin-top: 8px;
        font-size: 25px;
        line-height: 20px;
    }

    .descriptionProductoCompra p{
        margin-top: -8px;
        font-size: 15px;
        line-height: 15px;
        color: grey;
    }

    .valorProductoCompra{
        font-size: 18px;
        top: 20px;
        left: 20px;
        background-color: #FCA311;
        color: black;
        border-radius: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 30px;
        padding-right: 30px;
        position: absolute;
        box-shadow: 2px 5px 5px 2px rgba(0,0,0,0.5);
    }

    .adicional_unico{
        font-size: 15px;
        width: 120px;
        float: left;
    }

    .contenedor_adicionales{
        height: 100px;
        overflow: scroll;
    }

    #alerta-exito{
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 999999999 !important;
        transform: translateY(-300%);
    }

    /* MODAL RESUMEN DE LA COMPRA */

    .contenidoCarrito{
        width: 310px;
    }

    .contenidoCarrito table{
        width: 400px;
    }

    .contenidoCarrito table tr td p{
        font-size: 12px;
        line-height: 12px;
        padding-left: 10px;
    }

    .contenidoCarrito table tr img{
        width: 50px;
    }

    .valores_precios{
        width: 426px;
    }

    .descripcion_precio, .valor_precio{
        width: 180px;
        float: left;
        font-size: 20px;
    }

    .valor_precio{
        text-align: right;
    }
    
    
    .opciones_domicilio{
        padding-left: 35px;
        margin-top: 35px;
        margin-bottom: 15px;
    }

    .opciones_domicilio button{
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .btn-domicilio{
        color: #FBFFFE !important;
        background-color: #FCA311 !important;
    }

    .btn-local{
        color: #FBFFFE;
        background-color: #96031A !important;
    }
    
    .btn-envio-pedido, .btn-envio-pedido-form, .envio-wompi {
        margin-top: 15px;
        margin-bottom: 5px;
        margin-left: 20px;
        width: 330px;
        padding-top: 2px;
        padding-bottom: 2px;
        color: #FBFFFE;
        background-color: #075e54 !important;
    }

        #formularioWhatsapp{
        height: 550px;
        overflow-x: scroll;
        overflow-y: scroll;

    }


    /* FORMULARIO WOMPI */
        .contenedor-tarjetas{
            width: 300px;
            display: flex;
            align-items: flex-end;
            padding-right: 10px;
            padding-left: 10px;
        }



        .BANCOLOMBIA_TRANSFER{
            margin-top: 10px;
             width: 135px;
            margin-left: 10px;
            height: 110px;
            border-radius: 10px;
            border: 1px solid #dcdcdc;
            padding-top: 5px;
            padding-right: 5px;
            padding-left: 5px;
            padding-bottom: 5px;
          
            text-align: center;
        }

        .select_transferencia{
            display:none;
            padding-top: 28px;
            position: absolute;
            z-index: 8;
            width: 130px;
            height: 110px;
            background: rgb(0,0,0,0.5);
            border-radius: 10px;
            margin-left: -7px;
            margin-top: -7px;
        }

        .select_transferencia img{
            width: 50px;
        }




        .NEQUI{
            width: 135px;
            margin-left: 10px;
            height: 110px;
            border-radius: 10px;
            border: 1px solid #dcdcdc;
            padding-top: 5px;
            padding-right: 5px;
            padding-left: 5px;
            padding-bottom: 5px;
            text-align: center;
        }

        .select_nequi{
            display:none;
            padding-top: 28px;
            position: absolute;
            z-index: 8;
            width: 130px;
            height: 110px;
            background: rgb(0,0,0,0.5);
            border-radius: 10px;
            margin-left: -7px;
            margin-top: -7px;
        }

        .select_nequi img{
            width: 50px;
        }



        .PSE{
            margin-top: 10px;
            width: 135px;
            margin-left: 10px;
            height: 110px;
            border-radius: 10px;
            border: 1px solid #dcdcdc;
            padding-top: 5px;
            padding-right: 5px;
            padding-left: 5px;
            padding-bottom: 5px;
          
            text-align: center;
        }

        .select_pse{
            display:none;
            padding-top: 28px;
            position: absolute;
            z-index: 8;
            width: 130px;
            height: 110px;
            background: rgb(0,0,0,0.5);
            border-radius: 10px;
            margin-left: -7px;
            margin-top: -7px;
        }

        .select_pse img{
            width: 50px;
        }



        .CARD{
             width: 135px;
            margin-left: 10px;
            height: 110px;
            border-radius: 10px;
            border: 1px solid #dcdcdc;
            padding-top: 5px;
            padding-right: 5px;
            padding-left: 5px;
            padding-bottom: 5px;
          
            text-align: center;
        }

        .select_card{
            display:none;
            padding-top: 28px;
            position: absolute;
            z-index: 8;
            width: 130px;
            height: 110px;
            background: rgb(0,0,0,0.5);
            border-radius: 10px;
            margin-left: -7px;
            margin-top: -7px;
        }

        .select_card img{
            width: 50px;
        }



        .img_nequi{
            padding: 0px;
        }

        .img_nequi img{
            width: 100%;
        }
    /* FIN FORMULARIO WOMPI */

    .cerrarModalCarrito{
        position: absolute;
        top: -20px;
        right: -8px;
        box-shadow: 2px 5px 5px 2px rgb(0 0 0 / 50%);
        border-radius: 50%;
        z-index: 9999999999 !important; 
    }

    .cerrarModalCarrito img{
        width: 40px;
    }

}


/*********************************************** */

@media screen and (min-width:426px) and (max-width: 769px) {
    
    #tienda-cerrada{
        position: fixed; bottom: -10px; z-index: 99999; width: 100%;
    }

    ::-webkit-scrollbar {
        background-color: rgba(0,0,0,0.1);
        width: 1px;
    }

    ::-webkit-scrollbar-track {
        background-color: white !important;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: white;
    }

    ::-webkit-scrollbar-button {
        background-color: white !important;
    }

    ::-webkit-scrollbar-corner {
        background-color: white;;
    }

    #resultadoSQLProducto  > .row{
        margin-left:0px;
    }

    #enviarFormWhatsapp{
        margin-bottom:30px;
    }

    .btn-compra{
        margin-left: -50px;
        bottom: 1px;
        position: absolute !important;
    }

    .precioProductoUnico{
        position: absolute;
        bottom: 22px;
        width: 320px;
    }
    .regresarPedidoWeb{
        width: 40%;
        margin-top: -35px !important;
        margin-left: 100px !important;
        font-size: 15px;
    }

    .copyright{
        padding-bottom: 50px;
        width: 100%;
        margin-top: 80px;
    }


    .productoUnico, .productoUnicoCerrado{
        background-color: white !important;
        border-radius: 0px;
        float: left;
        margin: 6px;
        width: 120px;
        height: 230px !important;
        padding: 0px;
        border: 1px solid #dcdcdc;
    }

    .imgProductoUnico{
        margin-left: 15px;
        width: 120px;
        height: 120px;
    }

    .imgProductoUnico img{
        width: 120px;
        height: 120px;
        padding: 0px;
    }

    .descripcionProductoUnico{
        width: 143px !important;
        height: 50px;
        overflow: scroll;
        margin-left: 15px;
        padding-left: 10px;
        line-height: 12px !important;

    }

    .descripcionProductoUnico a{
        font-size: 16px;
        line-height: 14px;
        padding-right: 10px;
        padding-bottom: 0px;
    }

    .valorProductoUnico{
        margin-left: 20px;
        margin-right: 20px;
        width: 140px;
    }

    .valorProductoUnico strong{
        color: #FCA311;
        font-size: 16px;
        line-height: 14px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #valueModal{
        font-size: 18px;
        color: #FCA311;
    }

    .valorPedidoDiv{
        margin-top: 30%; 
    }

    .cantidadCarrito{
        position: absolute;
        background-color: red;
        border-radius: 50%;
        width: 20px;
        left: 25px;
        text-align: center;
        color: white;
        margin-top: -5px;
    }

    .carroCompra{
        background-color: #f5f5f5;
        position: fixed;
        width: 220px !important;
        height: 100% !important;
        transform: translateY(150%);
        left: 0px;
        top: 0px;
    }

    .carroCompraWhat{
        background-color: #f5f5f5;
        width: 420px !important;
        height: 100% !important;
        left: 0px;
        top: 0px;
    }

    #resumenPedido{
        overflow: scroll !important;
        height: 350px;
        margin-top: -20px;
    }

    .tituloTuPedido{
        display: none;
    }


    .form-control{
        margin-top: 5px;
    }

    .valorPedido{
        text-align: center;
        position: fixed;
        bottom: 50px;
        background-color: #1B1B1E !important;
        color: white;
        padding-top: 10px;
        padding-bottom: 20px;
        border-radius: 0px;
        font-size: 20px;
        margin-left: 0px;
        width: 768px;
    }
    .encabezadoTiendas{
        height: 400px;
    }

    .imagenProductoWeb{
        display:none;
    }

    .pedidosWeb{
        background-color: #f5f5f5;
        margin-left: -35px !important;
    }

    .regresarPedidoWeb{
        margin-top: 10px;
    }


    .indexCancelarPedido{
        position: fixed;
        bottom: 10px;
        z-index: 9999;
        left: 2px;
        font-size: 15px;
    }

    .indexVerPedido{
        position: fixed;
        bottom: 10px;
        z-index: 9999;
        right: 5px;
        font-size: 15px;
    }

    .precioProductoUnico{
        line-height: 1px;
    }



    .botonProductosCarrito{
        width: 290px;
        color:white;
        background-color: #17a2b8;
        position: fixed;
        bottom: 50px;
        padding-top:10px;
        padding-bottom:10px;
        z-index: 99999;

    }

    .titlePrecios{
        font-size: 50px;

    }

    .listadoCategoria{
        color: black;
        padding-top: 0px;
        margin-top: -10px;
    }





    /* modal informacion productos */

    #imagenModal{
        padding-left: 2px;
        align-content: center;
        text-align: center;
    }
    #imagenModal img{
        width: 270px;
        height: 270px;
    }

    .actionsAddDel > .iconAddPro{
        padding-top: 3px;
        padding-bottom: 3px;
        background-color: #1B1B1E !important; 
        color: white !important; 
        width: 280px;
        margin-left: -19px;
        margin-bottom: 5px;
    }

    .actionsAddDel > .btn-cerrar-modal{
        padding-top: 3px;
        padding-bottom: 3px;
        background-color:#96031A !important;
        color: white !important; 
        width: 280px;
        margin-left: -19px;
        margin-bottom: 5px;
    }

    .btn-cerrar-modal-carrito, .btn-vovler-carrito{
        padding-top: 3px;
        padding-bottom: 3px;
        background-color:#96031A !important;
        color: white !important; 
        width: 330px;
        margin-left: 20px;
        margin-bottom: 5px;   
    }

    #adicionalesProductos{
        height: 150px;
        overflow: scroll;
    }

    .barraOpcion{
        position: fixed;
        width: 768px;
        bottom: 0px;
        z-index: 1 !important;
    }

    div#modalProductos.modal.fade.show{
        z-index: 9999999999999 !important;
    }

    .imgProductoCompra img{
        width: 375px;
    }

    .nameProductoCompra p{
        margin-top: 8px;
        font-size: 25px;
        line-height: 20px;
    }

    .descriptionProductoCompra p{
        margin-top: -8px;
        font-size: 15px;
        line-height: 15px;
        color: grey;
    }

    .valorProductoCompra{
        font-size: 18px;
        top: 20px;
        left: 20px;
        background-color: #FCA311;
        color: black;
        border-radius: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 30px;
        padding-right: 30px;
        position: absolute;
        box-shadow: 2px 5px 5px 2px rgba(0,0,0,0.5);
    }

    .adicional_unico{
        font-size: 15px;
        width: 120px;
        float: left;
    }

    .contenedor_adicionales{
        height: 100px;
        overflow: scroll;
    }

    #alerta-exito{
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 999999999 !important;
        transform: translateY(-300%);
    }

    /* MODAL RESUMEN DE LA COMPRA */

    .contenidoCarrito{
        width: 310px;
    }

    .contenidoCarrito table{
        width: 400px;
    }

    .contenidoCarrito table tr td p{
        font-size: 12px;
        line-height: 12px;
        padding-left: 10px;
    }

    .contenidoCarrito table tr img{
        width: 50px;
    }

    .valores_precios{
        width: 426px;
    }

    .descripcion_precio, .valor_precio{
        width: 180px;
        float: left;
        font-size: 20px;
    }

    .valor_precio{
        text-align: right;
    }
    
    .opciones_domicilio{
        padding-left: 35px;
        margin-top: 35px;
        margin-bottom: 15px;
    }

    .opciones_domicilio button{
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .btn-domicilio{
        color: #FBFFFE !important;
        background-color: #FCA311 !important;
    }

    .btn-local{
        color: #FBFFFE;
        background-color: #96031A !important;
    }
    
    .btn-envio-pedido, .btn-envio-pedido-form, .envio-wompi {
        margin-top: 15px;
        margin-bottom: 5px;
        margin-left: 20px;
        width: 330px;
        padding-top: 2px;
        padding-bottom: 2px;
        color: #FBFFFE;
        background-color: #075e54 !important;
    }
    
    .modal-content{
        margin-left:50px;
         width:410px !important;
    }

    #formularioWhatsapp{
        height: 550px;
        overflow-x: scroll;
        overflow-y: scroll;
    }
    .cerrarModalCarrito{
        position: absolute;
        top: -20px;
        right: -8px;
        box-shadow: 2px 5px 5px 2px rgb(0 0 0 / 50%);
        border-radius: 50%;
        z-index: 9999999999 !important; 
    }

    .cerrarModalCarrito img{
        width: 40px;
    }

}


@media screen and (min-width:770px) and (max-width: 1024px){
    .contenedorWeb{
        margin-left:120px;
        width:768px;
    }
    
    #tienda-cerrada{
        position: fixed; bottom: -10px; z-index: 99999; width: 768px;
    }

    ::-webkit-scrollbar {
        background-color: rgba(0,0,0,0.1);
        width: 1px;
    }

    ::-webkit-scrollbar-track {
        background-color: white !important;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: white;
    }

    ::-webkit-scrollbar-button {
        background-color: white !important;
    }

    ::-webkit-scrollbar-corner {
        background-color: white;;
    }

    #resultadoSQLProducto  > .row{
        margin-left:0px;
    }

    #enviarFormWhatsapp{
        margin-bottom:30px;
    }

    .btn-compra{
        margin-left: -50px;
        bottom: 1px;
        position: absolute !important;
    }

    .precioProductoUnico{
        position: absolute;
        bottom: 22px;
        width: 320px;
    }
    .regresarPedidoWeb{
        width: 40%;
        margin-top: -35px !important;
        margin-left: 100px !important;
        font-size: 15px;
    }

    .copyright{
        padding-bottom: 50px;
        width: 100%;
        margin-top: 80px;
    }


    .productoUnico, .productoUnicoCerrado{
        background-color: white !important;
        border-radius: 0px;
        float: left;
        margin: 6px;
        width: 120px;
        height: 230px !important;
        padding: 0px;
        border: 1px solid #dcdcdc;
    }

    .imgProductoUnico{
        margin-left: 15px;
        width: 120px;
        height: 120px;
    }

    .imgProductoUnico img{
        width: 120px;
        height: 120px;
        padding: 0px;
    }

    .descripcionProductoUnico{
        width: 143px !important;
        height: 50px;
        overflow: scroll;
        margin-left: 15px;
        padding-left: 10px;
        line-height: 12px !important;

    }

    .descripcionProductoUnico a{
        font-size: 16px;
        line-height: 14px;
        padding-right: 10px;
        padding-bottom: 0px;
    }

    .valorProductoUnico{
        margin-left: 20px;
        margin-right: 20px;
        width: 140px;
    }

    .valorProductoUnico strong{
        color: #FCA311;
        font-size: 16px;
        line-height: 14px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #valueModal{
        font-size: 18px;
        color: #FCA311;
    }

    .valorPedidoDiv{
        margin-top: 30%; 
    }

    .cantidadCarrito{
        position: absolute;
        background-color: red;
        border-radius: 50%;
        width: 20px;
        left: 25px;
        text-align: center;
        color: white;
        margin-top: -5px;
    }

    .carroCompra{
        background-color: #f5f5f5;
        position: fixed;
        width: 220px !important;
        height: 100% !important;
        transform: translateY(150%);
        left: 0px;
        top: 0px;
    }

    .carroCompraWhat{
        background-color: #f5f5f5;
        width: 420px !important;
        height: 100% !important;
        left: 0px;
        top: 0px;
    }

    #resumenPedido{
        overflow: scroll !important;
        height: 350px;
        margin-top: -20px;
    }

    .tituloTuPedido{
        display: none;
    }


    .form-control{
        margin-top: 5px;
    }

    .valorPedido{
        text-align: center;
        position: fixed;
        bottom: 50px;
        background-color: #1B1B1E !important;
        color: white;
        padding-top: 10px;
        padding-bottom: 20px;
        border-radius: 0px;
        font-size: 20px;
        margin-left: 0px;
        width: 768px;
    }
    .encabezadoTiendas{
        height: 400px;
    }

    .imagenProductoWeb{
        display:none;
    }

    .pedidosWeb{
        background-color: #f5f5f5;
        margin-left: -35px !important;
    }

    .regresarPedidoWeb{
        margin-top: 10px;
    }


    .indexCancelarPedido{
        position: fixed;
        bottom: 10px;
        z-index: 9999;
        left: 2px;
        font-size: 15px;
    }

    .indexVerPedido{
        position: fixed;
        bottom: 10px;
        z-index: 9999;
        right: 5px;
        font-size: 15px;
    }

    .precioProductoUnico{
        line-height: 1px;
    }



    .botonProductosCarrito{
        width: 290px;
        color:white;
        background-color: #17a2b8;
        position: fixed;
        bottom: 50px;
        padding-top:10px;
        padding-bottom:10px;
        z-index: 99999;

    }

    .titlePrecios{
        font-size: 50px;

    }

    .listadoCategoria{
        color: black;
        padding-top: 0px;
        margin-top: -10px;
    }





    /* modal informacion productos */

    #imagenModal{
        padding-left: 2px;
        align-content: center;
        text-align: center;
    }
    #imagenModal img{
        width: 270px;
        height: 270px;
    }

    .actionsAddDel > .iconAddPro{
        padding-top: 3px;
        padding-bottom: 3px;
        background-color: #1B1B1E !important; 
        color: white !important; 
        width: 280px;
        margin-left: -19px;
        margin-bottom: 5px;
    }

    .actionsAddDel > .btn-cerrar-modal{
        padding-top: 3px;
        padding-bottom: 3px;
        background-color:#96031A !important;
        color: white !important; 
        width: 280px;
        margin-left: -19px;
        margin-bottom: 5px;
    }

    .btn-cerrar-modal-carrito, .btn-vovler-carrito{
        padding-top: 3px;
        padding-bottom: 3px;
        background-color:#96031A !important;
        color: white !important; 
        width: 330px;
        margin-left: 20px;
        margin-bottom: 5px;   
    }

    #adicionalesProductos{
        height: 150px;
        overflow: scroll;
    }

    .barraOpcion{
        position: fixed;
        width: 768px;
        bottom: 0px;
        z-index: 1 !important;
    }

    div#modalProductos.modal.fade.show{
        z-index: 9999999999999 !important;
    }

    .imgProductoCompra img{
        width: 375px;
    }

    .nameProductoCompra p{
        margin-top: 8px;
        font-size: 25px;
        line-height: 20px;
    }

    .descriptionProductoCompra p{
        margin-top: -8px;
        font-size: 15px;
        line-height: 15px;
        color: grey;
    }

    .valorProductoCompra{
        font-size: 18px;
        top: 20px;
        left: 20px;
        background-color: #FCA311;
        color: black;
        border-radius: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 30px;
        padding-right: 30px;
        position: absolute;
        box-shadow: 2px 5px 5px 2px rgba(0,0,0,0.5);
    }

    .adicional_unico{
        font-size: 15px;
        width: 120px;
        float: left;
    }

    .contenedor_adicionales{
        height: 100px;
        overflow: scroll;
    }

    #alerta-exito{
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 999999999 !important;
        transform: translateY(-300%);
    }

    /* MODAL RESUMEN DE LA COMPRA */

    .contenidoCarrito{
        width: 310px;
    }

    .contenidoCarrito table{
        width: 400px;
    }

    .contenidoCarrito table tr td p{
        font-size: 12px;
        line-height: 12px;
        padding-left: 10px;
    }

    .contenidoCarrito table tr img{
        width: 50px;
    }

    .valores_precios{
        width: 426px;
    }

    .descripcion_precio, .valor_precio{
        width: 180px;
        float: left;
        font-size: 20px;
    }

    .valor_precio{
        text-align: right;
    }
    
    .opciones_domicilio{
        padding-left: 35px;
        margin-top: 35px;
        margin-bottom: 15px;
    }

    .opciones_domicilio button{
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .btn-domicilio{
        color: #FBFFFE !important;
        background-color: #FCA311 !important;
    }

    .btn-local{
        color: #FBFFFE;
        background-color: #96031A !important;
    }
    
    .btn-envio-pedido, .btn-envio-pedido-form, .envio-wompi {
        margin-top: 15px;
        margin-bottom: 5px;
        margin-left: 20px;
        width: 330px;
        padding-top: 2px;
        padding-bottom: 2px;
        color: #FBFFFE;
        background-color: #075e54 !important;
    }
    
    .modal-content{
        margin-left:50px;
         width:410px !important;
    }

.cerrarModalCarrito{
        position: absolute;
        top: -20px;
        right: -8px;
        box-shadow: 2px 5px 5px 2px rgb(0 0 0 / 50%);
        border-radius: 50%;
        z-index: 9999999999 !important; 
    }

    .cerrarModalCarrito img{
        width: 40px;
    }

}


@media screen and (min-width:1025px) and  (max-width: 1440px){
    
    #tienda-cerrada{
        position: fixed; bottom: -10px; z-index: 99999; width: 768px;
    }

    .contenedorWeb{
        margin-left:350px;
        width:768px;
    }
    
    
    ::-webkit-scrollbar {
        background-color: rgba(0,0,0,0.1);
        width: 1px;
    }

    ::-webkit-scrollbar-track {
        background-color: white !important;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: white;
    }

    ::-webkit-scrollbar-button {
        background-color: white !important;
    }

    ::-webkit-scrollbar-corner {
        background-color: white;;
    }

    #resultadoSQLProducto  > .row{
        margin-left:0px;
    }

    #enviarFormWhatsapp{
        margin-bottom:30px;
    }

    .btn-compra{
        margin-left: -50px;
        bottom: 1px;
        position: absolute !important;
    }

    .precioProductoUnico{
        position: absolute;
        bottom: 22px;
        width: 320px;
    }
    .regresarPedidoWeb{
        width: 40%;
        margin-top: -35px !important;
        margin-left: 100px !important;
        font-size: 15px;
    }

    .copyright{
        padding-bottom: 50px;
        width: 100%;
        margin-top: 80px;
    }


    .productoUnico, .productoUnicoCerrado{
        background-color: white !important;
        border-radius: 0px;
        float: left;
        margin: 6px;
        width: 120px;
        height: 230px !important;
        padding: 0px;
        border: 1px solid #dcdcdc;
    }

    .imgProductoUnico{
        margin-left: 15px;
        width: 120px;
        height: 120px;
    }

    .imgProductoUnico img{
        width: 120px;
        height: 120px;
        padding: 0px;
    }

    .descripcionProductoUnico{
        width: 143px !important;
        height: 50px;
        overflow: scroll;
        margin-left: 15px;
        padding-left: 10px;
        line-height: 12px !important;

    }

    .descripcionProductoUnico a{
        font-size: 16px;
        line-height: 14px;
        padding-right: 10px;
        padding-bottom: 0px;
    }

    .valorProductoUnico{
        margin-left: 20px;
        margin-right: 20px;
        width: 140px;
    }

    .valorProductoUnico strong{
        color: #FCA311;
        font-size: 16px;
        line-height: 14px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #valueModal{
        font-size: 18px;
        color: #FCA311;
    }

    .valorPedidoDiv{
        margin-top: 30%; 
    }

    .cantidadCarrito{
        position: absolute;
        background-color: red;
        border-radius: 50%;
        width: 20px;
        left: 25px;
        text-align: center;
        color: white;
        margin-top: -5px;
    }

    .carroCompra{
        background-color: #f5f5f5;
        position: fixed;
        width: 220px !important;
        height: 100% !important;
        transform: translateY(150%);
        left: 0px;
        top: 0px;
    }

    .carroCompraWhat{
        background-color: #f5f5f5;
        width: 420px !important;
        height: 100% !important;
        left: 0px;
        top: 0px;
    }

    #resumenPedido{
        overflow: scroll !important;
        height: 350px;
        margin-top: -20px;
    }

    .tituloTuPedido{
        display: none;
    }


    .form-control{
        margin-top: 5px;
    }

    .valorPedido{
        text-align: center;
        position: fixed;
        bottom: 50px;
        background-color: #1B1B1E !important;
        color: white;
        padding-top: 10px;
        padding-bottom: 20px;
        border-radius: 0px;
        font-size: 20px;
        margin-left: 0px;
        width: 768px;
    }
    .encabezadoTiendas{
        height: 400px;
    }

    .imagenProductoWeb{
        display:none;
    }

    .pedidosWeb{
        background-color: #f5f5f5;
        margin-left: -35px !important;
    }

    .regresarPedidoWeb{
        margin-top: 10px;
    }


    .indexCancelarPedido{
        position: fixed;
        bottom: 10px;
        z-index: 9999;
        left: 2px;
        font-size: 15px;
    }

    .indexVerPedido{
        position: fixed;
        bottom: 10px;
        z-index: 9999;
        right: 5px;
        font-size: 15px;
    }

    .precioProductoUnico{
        line-height: 1px;
    }



    .botonProductosCarrito{
        width: 290px;
        color:white;
        background-color: #17a2b8;
        position: fixed;
        bottom: 50px;
        padding-top:10px;
        padding-bottom:10px;
        z-index: 99999;

    }

    .titlePrecios{
        font-size: 50px;

    }

    .listadoCategoria{
        color: black;
        padding-top: 0px;
        margin-top: -10px;
    }





    /* modal informacion productos */

    #imagenModal{
        padding-left: 2px;
        align-content: center;
        text-align: center;
    }
    #imagenModal img{
        width: 270px;
        height: 270px;
    }

    .actionsAddDel > .iconAddPro{
        padding-top: 3px;
        padding-bottom: 3px;
        background-color: #1B1B1E !important; 
        color: white !important; 
        width: 280px;
        margin-left: -19px;
        margin-bottom: 5px;
    }

    .actionsAddDel > .btn-cerrar-modal{
        padding-top: 3px;
        padding-bottom: 3px;
        background-color:#96031A !important;
        color: white !important; 
        width: 280px;
        margin-left: -19px;
        margin-bottom: 5px;
    }

    .btn-cerrar-modal-carrito, .btn-vovler-carrito{
        padding-top: 3px;
        padding-bottom: 3px;
        background-color:#96031A !important;
        color: white !important; 
        width: 330px;
        margin-left: 20px;
        margin-bottom: 5px;   
    }

    #adicionalesProductos{
        height: 150px;
        overflow: scroll;
    }

    .barraOpcion{
        position: fixed;
        width: 768px;
        bottom: 0px;
        z-index: 1 !important;
    }

    div#modalProductos.modal.fade.show{
        z-index: 9999999999999 !important;
    }

    .imgProductoCompra img{
        width: 375px;
    }

    .nameProductoCompra p{
        margin-top: 8px;
        font-size: 25px;
        line-height: 20px;
    }

    .descriptionProductoCompra p{
        margin-top: -8px;
        font-size: 15px;
        line-height: 15px;
        color: grey;
    }

    .valorProductoCompra{
        font-size: 18px;
        top: 20px;
        left: 20px;
        background-color: #FCA311;
        color: black;
        border-radius: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 30px;
        padding-right: 30px;
        position: absolute;
        box-shadow: 2px 5px 5px 2px rgba(0,0,0,0.5);
    }

    .adicional_unico{
        font-size: 15px;
        width: 120px;
        float: left;
    }

    .contenedor_adicionales{
        height: 100px;
        overflow: scroll;
    }

    #alerta-exito{
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 999999999 !important;
        transform: translateY(-300%);
    }

    /* MODAL RESUMEN DE LA COMPRA */

    .contenidoCarrito{
        width: 310px;
    }

    .contenidoCarrito table{
        width: 400px;
    }

    .contenidoCarrito table tr td p{
        font-size: 12px;
        line-height: 12px;
        padding-left: 10px;
    }

    .contenidoCarrito table tr img{
        width: 50px;
    }

    .valores_precios{
        width: 426px;
    }

    .descripcion_precio, .valor_precio{
        width: 180px;
        float: left;
        font-size: 20px;
    }

    .valor_precio{
        text-align: right;
    }
    
    .opciones_domicilio{
        padding-left: 35px;
        margin-top: 35px;
        margin-bottom: 15px;
    }

    .opciones_domicilio button{
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .btn-domicilio{
        color: #FBFFFE !important;
        background-color: #FCA311 !important;
    }

    .btn-local{
        color: #FBFFFE;
        background-color: #96031A !important;
    }
    
    .btn-envio-pedido, .btn-envio-pedido-form, .envio-wompi {
        margin-top: 15px;
        margin-bottom: 5px;
        margin-left: 20px;
        width: 330px;
        padding-top: 2px;
        padding-bottom: 2px;
        color: #FBFFFE;
        background-color: #075e54 !important;
    }
    
    .modal-content{
        margin-left:50px;
         width:410px !important;
    }

.cerrarModalCarrito{
        position: absolute;
        top: -20px;
        right: -8px;
        box-shadow: 2px 5px 5px 2px rgb(0 0 0 / 50%);
        border-radius: 50%;
        z-index: 9999999999 !important; 
    }

    .cerrarModalCarrito img{
        width: 40px;
    }

}


@media screen and (min-width:1441px) and (max-width: 2561px){
    
    .cerrarModalCarrito{
        position: absolute;
        top: -20px;
        right: -8px;
        box-shadow: 2px 5px 5px 2px rgb(0 0 0 / 50%);
        border-radius: 50%;
        z-index: 9999999999 !important; 
    }

    .cerrarModalCarrito img{
        width: 40px;
    }

    #tienda-cerrada{
        position: fixed; bottom: -10px; z-index: 99999; width: 768px;
    }

    .contenedorWeb{
        margin-left:900px;
        width:768px;
    }
    
    
    ::-webkit-scrollbar {
        background-color: rgba(0,0,0,0.1);
        width: 1px;
    }

    ::-webkit-scrollbar-track {
        background-color: white !important;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: white;
    }

    ::-webkit-scrollbar-button {
        background-color: white !important;
    }

    ::-webkit-scrollbar-corner {
        background-color: white;;
    }

    #resultadoSQLProducto  > .row{
        margin-left:0px;
    }

    #enviarFormWhatsapp{
        margin-bottom:30px;
    }

    .btn-compra{
        margin-left: -50px;
        bottom: 1px;
        position: absolute !important;
    }

    .precioProductoUnico{
        position: absolute;
        bottom: 22px;
        width: 320px;
    }
    .regresarPedidoWeb{
        width: 40%;
        margin-top: -35px !important;
        margin-left: 100px !important;
        font-size: 15px;
    }

    .copyright{
        padding-bottom: 50px;
        width: 100%;
        margin-top: 80px;
    }


    .productoUnico, .productoUnicoCerrado{
        background-color: white !important;
        border-radius: 0px;
        float: left;
        margin: 6px;
        width: 120px;
        height: 230px !important;
        padding: 0px;
        border: 1px solid #dcdcdc;
    }

    .imgProductoUnico{
        margin-left: 15px;
        width: 120px;
        height: 120px;
    }

    .imgProductoUnico img{
        width: 120px;
        height: 120px;
        padding: 0px;
    }

    .descripcionProductoUnico{
        width: 143px !important;
        height: 50px;
        overflow: scroll;
        margin-left: 15px;
        padding-left: 10px;
        line-height: 12px !important;

    }

    .descripcionProductoUnico a{
        font-size: 16px;
        line-height: 14px;
        padding-right: 10px;
        padding-bottom: 0px;
    }

    .valorProductoUnico{
        margin-left: 20px;
        margin-right: 20px;
        width: 140px;
    }

    .valorProductoUnico strong{
        color: #FCA311;
        font-size: 16px;
        line-height: 14px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #valueModal{
        font-size: 18px;
        color: #FCA311;
    }

    .valorPedidoDiv{
        margin-top: 30%; 
    }

    .cantidadCarrito{
        position: absolute;
        background-color: red;
        border-radius: 50%;
        width: 20px;
        left: 25px;
        text-align: center;
        color: white;
        margin-top: -5px;
    }

    .carroCompra{
        background-color: #f5f5f5;
        position: fixed;
        width: 220px !important;
        height: 100% !important;
        transform: translateY(150%);
        left: 0px;
        top: 0px;
    }

    .carroCompraWhat{
        background-color: #f5f5f5;
        width: 420px !important;
        height: 100% !important;
        left: 0px;
        top: 0px;
    }

    #resumenPedido{
        overflow: scroll !important;
        height: 350px;
        margin-top: -20px;
    }

    .tituloTuPedido{
        display: none;
    }


    .form-control{
        margin-top: 5px;
    }

    .valorPedido{
        text-align: center;
        position: fixed;
        bottom: 50px;
        background-color: #1B1B1E !important;
        color: white;
        padding-top: 10px;
        padding-bottom: 20px;
        border-radius: 0px;
        font-size: 20px;
        margin-left: 0px;
        width: 768px;
    }
    .encabezadoTiendas{
        height: 400px;
    }

    .imagenProductoWeb{
        display:none;
    }

    .pedidosWeb{
        background-color: #f5f5f5;
        margin-left: -35px !important;
    }

    .regresarPedidoWeb{
        margin-top: 10px;
    }


    .indexCancelarPedido{
        position: fixed;
        bottom: 10px;
        z-index: 9999;
        left: 2px;
        font-size: 15px;
    }

    .indexVerPedido{
        position: fixed;
        bottom: 10px;
        z-index: 9999;
        right: 5px;
        font-size: 15px;
    }

    .precioProductoUnico{
        line-height: 1px;
    }



    .botonProductosCarrito{
        width: 290px;
        color:white;
        background-color: #17a2b8;
        position: fixed;
        bottom: 50px;
        padding-top:10px;
        padding-bottom:10px;
        z-index: 99999;

    }

    .titlePrecios{
        font-size: 50px;

    }

    .listadoCategoria{
        color: black;
        padding-top: 0px;
        margin-top: -10px;
    }





    /* modal informacion productos */

    #imagenModal{
        padding-left: 2px;
        align-content: center;
        text-align: center;
    }
    #imagenModal img{
        width: 270px;
        height: 270px;
    }

    .actionsAddDel > .iconAddPro{
        padding-top: 3px;
        padding-bottom: 3px;
        background-color: #1B1B1E !important; 
        color: white !important; 
        width: 280px;
        margin-left: -19px;
        margin-bottom: 5px;
    }

    .actionsAddDel > .btn-cerrar-modal{
        padding-top: 3px;
        padding-bottom: 3px;
        background-color:#96031A !important;
        color: white !important; 
        width: 280px;
        margin-left: -19px;
        margin-bottom: 5px;
    }

    .btn-cerrar-modal-carrito, .btn-vovler-carrito{
        padding-top: 3px;
        padding-bottom: 3px;
        background-color:#96031A !important;
        color: white !important; 
        width: 330px;
        margin-left: 20px;
        margin-bottom: 5px;   
    }

    #adicionalesProductos{
        height: 150px;
        overflow: scroll;
    }

    .barraOpcion{
        position: fixed;
        width: 768px;
        bottom: 0px;
        z-index: 1 !important;
    }

    div#modalProductos.modal.fade.show{
        z-index: 9999999999999 !important;
    }

    .imgProductoCompra img{
        width: 375px;
    }

    .nameProductoCompra p{
        margin-top: 8px;
        font-size: 25px;
        line-height: 20px;
    }

    .descriptionProductoCompra p{
        margin-top: -8px;
        font-size: 15px;
        line-height: 15px;
        color: grey;
    }

    .valorProductoCompra{
        font-size: 18px;
        top: 20px;
        left: 20px;
        background-color: #FCA311;
        color: black;
        border-radius: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 30px;
        padding-right: 30px;
        position: absolute;
        box-shadow: 2px 5px 5px 2px rgba(0,0,0,0.5);
    }

    .adicional_unico{
        font-size: 15px;
        width: 120px;
        float: left;
    }

    .contenedor_adicionales{
        height: 100px;
        overflow: scroll;
    }

    #alerta-exito{
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 999999999 !important;
        transform: translateY(-300%);
    }

    /* MODAL RESUMEN DE LA COMPRA */

    .contenidoCarrito{
        width: 310px;
    }

    .contenidoCarrito table{
        width: 400px;
    }

    .contenidoCarrito table tr td p{
        font-size: 12px;
        line-height: 12px;
        padding-left: 10px;
    }

    .contenidoCarrito table tr img{
        width: 50px;
    }

    .valores_precios{
        width: 426px;
    }

    .descripcion_precio, .valor_precio{
        width: 180px;
        float: left;
        font-size: 20px;
    }

    .valor_precio{
        text-align: right;
    }
    
    .opciones_domicilio{
        padding-left: 35px;
        margin-top: 35px;
        margin-bottom: 15px;
    }

    .opciones_domicilio button{
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .btn-domicilio{
        color: #FBFFFE !important;
        background-color: #FCA311 !important;
    }

    .btn-local{
        color: #FBFFFE;
        background-color: #96031A !important;
    }
    
    .btn-envio-pedido, .btn-envio-pedido-form, .envio-wompi {
        margin-top: 15px;
        margin-bottom: 5px;
        margin-left: 15px;
        width: 330px;
        padding-top: 2px;
        padding-bottom: 2px;
        color: #FBFFFE;
        background-color: #075e54 !important;
    }
    
    .modal-content{
        margin-left:50px;
         width:410px !important;
    }
}